<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LED Control</title>

    <link rel="apple-touch-icon" sizes="152x152" href="static/apple-touch-icon.png?v=1">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png?v=1">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png?v=1">
    <link rel="manifest" href="static/site.webmanifest?v=1">
    <link rel="mask-icon" href="static/safari-pinned-tab.svg?v=1" color="#5bbad5">
    <link rel="shortcut icon" href="static/favicon.ico?v=1">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href="static/font-awesome-6-main/css/all.min.css" rel="stylesheet"/>
    <style type="text/css">
        html,
        body {
            width: 100%;
            padding: 0;
            margin: 0;
            text-align: center;
            background-color: black;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        button {
            width: 90%;
            padding: 0.5rem;
            font-size: 1.5rem;
            background-color: white;
            border: none;
            border-radius: 4px;
        }

        #color-picker {
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
        }

        .button-container {
            margin-bottom: 1rem;
        }

        .button-container button {
            width: 90%;
            display: inline-block;
            margin-bottom: 1rem;
        }

        .maintenance-buttons {
            margin-top: 500px;
        }

        .maintenance-btn {
            margin-top: 1rem;
            width: auto;
        }

        .update-msg {
            width: 100%;
            height: 100%;
            background-color: black;
            color: white;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            text-align: center;
            font-size: 2rem;
            padding-top: 200px;
        }

        .connected-msg {
            margin-top: 1rem;
            color: white;
        }

    </style>
</head>
<body>
<div class="update-msg">
    <div class="msg">
        Looking for updates<br>and rebooting...
    </div>
</div>
<button onclick="setBrightness(0)"><i class="far fa-lightbulb"></i> LEDs Off</button>
<br><br>
<div class="button-container">
    <button onclick="setStrobe()"><i class="fas fa-bahai"></i> Strobe</button>
    <button onclick="setJellyfish()"><i class="fa-solid fa-spaghetti-monster-flying"></i> Jellyfish</button>
    <button onclick="setWarning()"><i class="fa-solid fa-warning"></i> Warning</button>
    <button onclick="sync()">Sync</button>
    <button onclick="startSequence()">Start sequence Dresden</button>
    <button onclick="stopSequence()">Stop sequence Dresden</button>
    <button onclick="setWaveCubic(0.2)">wave_cubic</button>
    <button onclick="setWaveTriangle(0.2)">wave_triangle</button>
</div>
<div id="color-picker"></div>
<button id="color-preview" onclick="sendColor()"><i class="fas fa-adjust"></i> Set Glow</button>
<!-- <div class="connected-msg">disconnected</div> -->
<div class="maintenance-buttons">
    <button class="maintenance-btn" onclick="shutdown()"><i class="fas fa-power-off"></i> Shutdown Pi</button>
    <button class="maintenance-btn" onclick="update()"><i class="fas fa-cloud-download-alt"></i> Update Code</button>
</div>

<script src="static/js/iro.min.js"></script>

<script>
    const endpoints = [
        'http://192.168.1.201',
        'http://192.168.1.202',
        'http://192.168.1.203',
        'http://192.168.1.204',
        'http://192.168.1.205',
        'http://192.168.1.206',
        'http://192.168.1.207',
        'http://192.168.1.208',
    ];
    // let connected = false;
    // function checkIfOnline() {
    //   fetch(`${endpoint}/ping`)
    //   .then((response) => {
    //     if (response.status === 200) {
    //       connected = true;
    //       document.querySelector('.connected-msg').innerHTML = 'connected';
    //     } else {
    //       connected = false;
    //       document.querySelector('.connected-msg').innerHTML = 'disconnected';
    //     }
    //   })
    //   .catch((error) => {
    //     connected = false;
    //     document.querySelector('.connected-msg').innerHTML = 'disconnected';
    //   });
    // }
    // setInterval(() => {
    //   checkIfOnline();
    // }, 5000);
    // checkIfOnline();

    var currentEffect = 1;
    var previousEffect = 0;
    var sequenceTimerVar = 0;
    var sequenceTime = 0;
    // 0-90: Jellyfish fast
    // 90-180: Glow pink
    // 180-210: Glow fast rood
    // 210-450: Strobe slow
    // 450-510: Jellyfish slow
    //
    var sequenceDict = {};

    sequenceDict[5] = 1;
    sequenceDict[10] = 3;
    sequenceDict[15] = 4;
    sequenceDict[20] = 5;
    sequenceDict[25] = 2;

    let hsl = {
        h: 0,
        s: 0,
        l: 0
    };

    const colorPicker = new iro.ColorPicker("#color-picker", {
        width: 320,
        color: "#f00"
    });

    colorPicker.on('color:change', function (color) {
        hsl.h = color.hsl.h / 360.0;
        hsl.s = color.hsl.s / 100.0;
        hsl.l = color.hsl.l / 100.0;

        console.log("h:" + hsl.h);
        console.log("s:" + hsl.s);
        console.log("l:" + hsl.l);

        document.querySelector('#color-preview').style.backgroundColor = color.rgbaString;
    });

    function startSequence() {
        sequenceTime = 0;
        sequenceTimerVar = setInterval(setNextEffect, 1000);
    }

    function stopSequence() {
        console.log("stopSequence, sequenceTimerVar" + sequenceTimerVar);

        if (sequenceTimerVar != 0) {
            clearInterval(sequenceTimerVar)
        }
    }

    function setNextEffect() {
        sequenceTime++;
        console.log("currentEffect:" + currentEffect + "sequenceTime:" + sequenceTime);
        if (sequenceTime in sequenceDict) {
            currentEffect = sequenceDict[sequenceTime];
        }
        console.log("currentEffect:" + currentEffect + "sequenceTime:" + sequenceTime);

        if (currentEffect != previousEffect) {
            if (currentEffect == 1) {
                setJellyfish(0.1, -2.0);
            } else if (currentEffect == 2) {
                setJellyfishSlow(0.07, -2.75);
            } else if (currentEffect == 3) {
                sendColor(0.2);
            } else if (currentEffect == 4) {
                sendColor(0.4);
            } else if (currentEffect == 5) {
                setStrobe(1.0, 0.4);
            }
            previousEffect = currentEffect;
        }

        if (sequenceTime > 30) {
            sequenceTime = 0;
            stopSequence();
        }

//	if(currentEffect>2){
//		currentEffect=1;
//	}else{
//		currentEffect++;	
//	}
    }


    function setStrobe(speed, brightness) {
        setPattern(1624276202155);
        setBrightness(brightness);
        setSpeed(speed);
        setScale(1.0);
    }

    function sendColor(speed) {
        setPattern(1624446887029);
        const paletteId = 1624449450971;
        setPalette(paletteId);
        for (let i = 0; i < endpoints.length; i++) {
            const ip = endpoints[i]
            fetch(`${ip}/setpalette?key=${paletteId}&value={"colors":[[${hsl.h},${hsl.s},${hsl.l}],[${hsl.h},${hsl.s},${hsl.l}]],"mode":0,"name":"SlowPulsePalette"}`)
                .then((response) => {
                    setSpeed(speed)
                    setBrightness(1.0);
                    setScale(1.0);
                })
        }
    }

    function setWaveCubic(speed) {
        setPattern(1663007686041);
        const paletteId = 1624449450971;
        setPalette(paletteId);
        for (let i = 0; i < endpoints.length; i++) {
            const ip = endpoints[i]
            fetch(`${ip}/setpalette?key=${paletteId}&value={"colors":[[${hsl.h},${hsl.s},${hsl.l}],[${hsl.h},${hsl.s},${hsl.l}]],"mode":0,"name":"SlowPulsePalette"}`)
                .then((response) => {
                    setSpeed(speed)
                    setBrightness(1.0);
                    setScale(1.0);
                })
        }
    }

    function setWaveTriangle(speed) {
        setPattern(1663008226484);
        const paletteId = 1624449450971;
        setPalette(paletteId);
        for (let i = 0; i < endpoints.length; i++) {
            const ip = endpoints[i]
            fetch(`${ip}/setpalette?key=${paletteId}&value={"colors":[[${hsl.h},${hsl.s},${hsl.l}],[${hsl.h},${hsl.s},${hsl.l}]],"mode":0,"name":"SlowPulsePalette"}`)
                .then((response) => {
                    setSpeed(speed)
                    setBrightness(1.0);
                    setScale(1.0);
                })
        }
    }

    function setStrobe() {
        setPattern(1624276202155);
        setBrightness(1.0);
        setSpeed(1.0);
    }

    function setStrobe(speed, brightness) {
        setPattern(1624276202155);
        setBrightness(brightness);
        setSpeed(speed);
        setScale(1.0);
    }

    function setJellyfishSlow(speed, scale) {
        setPattern(1624277222887);
        setPalette(1624275666284);
        setBrightness(1.0);
        setScale(scale);
        setSpeed(speed);
    }


    function setJellyfish(speed, scale) {
        setPattern(1624277222886);
        setPalette(1624275666283);
        setBrightness(1.0);
        setScale(scale);
        setSpeed(speed);
    }

    function setWarning() {
        setPattern(1628856045832);
        setBrightness(1.0);
        setSpeed(0.27);
        resetTimer();
    }

    function shutdown() {
        if (confirm('Are you sure you want to shutdown the Pi?')) {
            setBrightness(0.0);
            for (let i = 0; i < endpoints.length; i++) {
                const ip = endpoints[i]
                setTimeout(() => fetch(`${ip}/_shutdown`), 500);
            }
        }
    }

    function update() {
        if (confirm('Do you want to check for new code and reboot?')) {
            document.querySelector('.update-msg').style.display = 'block';
            document.querySelector('.maintenance-buttons').style.display = 'none';
            document.querySelector('#color-picker').style.display = 'none';
            for (let i = 0; i < endpoints.length; i++) {
                const ip = endpoints[i]
                fetch(`${ip}/_update`)
            }
            checkServerInterval = setInterval(() => {
                checkIfServerBack();
            }, 5000);
            checkIfServerBack();
        }
    }

    function sync() {
        for (let i = 0; i < endpoints.length; i++) {
            const ip = endpoints[i]
            fetch(`${ip}/resettimer`)
        }
    }

    function sendColor() {
        setPattern(1624446887029);
        const paletteId = 1624449450971;
        setPalette(paletteId);
        for (let i = 0; i < endpoints.length; i++) {
            const ip = endpoints[i]
            fetch(`${ip}/setpalette?key=${paletteId}&value={"colors":[[${hsl.h},${hsl.s},${hsl.l}],[${hsl.h},${hsl.s},${hsl.l}]],"mode":0,"name":"SlowPulsePalette"}`)
                .then((response) => {
                    setSpeed(0.2)
                    setBrightness(1.0);
                })
        }
    }


    function setPattern(value) {
        for (let i = 0; i < endpoints.length; i++) {
            const ip = endpoints[i]
            fetch(`${ip}/setparam?key=primary_pattern&value=${value}`)
        }
    }

    function setPalette(value) {
        for (let i = 0; i < endpoints.length; i++) {
            const ip = endpoints[i]
            fetch(`${ip}/setparam?key=palette&value=${value}`)
        }
    }

    function setBrightness(value) {
        for (let i = 0; i < endpoints.length; i++) {
            const ip = endpoints[i]
            fetch(`${ip}/setparam?key=brightness&value=${value}`)
        }
    }

    function setSpeed(value) {
        for (let i = 0; i < endpoints.length; i++) {
            const ip = endpoints[i]
            fetch(`${ip}/setparam?key=primary_speed&value=${value}`)
        }
    }

    function setScale(value) {
        for (let i = 0; i < endpoints.length; i++) {
            const ip = endpoints[i]
            fetch(`${ip}/setparam?key=primary_scale&value=${value}`)
        }
    }

</script>
</body>
</html>
