[Unit]
Description=Starts led control
After=network.target

[Service]
ExecStart=/usr/local/bin/ledcontrol --led_count 289 --led_pixel_order RGB
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
